#wp-post-styling {margin: 0 15px;}
#wp-post-styling fieldset {margin: 0;padding:0;border: none;}
#wp-post-styling legend {font-weight: 700;}
#wp-post-styling form p {padding: 4px 5px;margin: 2px 0;}
#wp-post-styling form .error p {background: none;border: none;}
#wp-post-styling .post-styling-options {width: 30%;}
#wp-post-styling .post-styling-library {width: 50%; float: right; }
#wp-post-styling .post-styling-library textarea { width: 100%; }
.resources {float: right;border: 1px solid #aaa;padding: 0 10px;margin-left: 10px;border-radius: 5px;background: #f6f6f6;text-align: center;}
#wp-post-styling .resources ul { margin: 10px 0 0;}
#wp-post-styling .resources form{margin: 0;}
#wp-style-library {width: 100%;}
#wp-style-library tr {background: #eaf3fa;}
#wp-style-library tr.odd {background: none;}
#wp-style-library td, #wp-style-library th {padding: 3px;}
#wp-style-library th {border: 1px solid #d9e2f9;}
#wp-style-library .delete a {background: #a00;color: #fff;padding: 2px 8px;font-size: .8em;border: 1px solid #fff;border-radius: 8px;text-decoration: none;}
#wp-style-library .delete { text-align: center;}
#wp-style-library .delete:hover, #wp-style-library .delete:focus {border: 1px solid #999;background: #b11;}
.post-styling-entries { clear: both; }